.main-left{
    margin-left: 0px;
    justify-self: left;
    width: 30%;
    background: rgb(67, 46, 18);
}


.main-right{
    margin-left: 0px;
    justify-self: right;
     background: tan;
     width: 30%;
}

