

body{
    background: rgb(62, 50, 27);
}

.main{
    background: rgb(219, 205, 205);
    /* border: 4px solid rgb(212, 196, 196); */
    border-radius: 25px;
    padding: 2% 2%;
    width: 95%;
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    /* justify-content: center; */
    justify-self: center;
    align-items: center;
}

.hello-div{
    position: relative;
    width: fit-content;
    margin-top: 0px;
    /* background: rgb(41, 58, 15); */
    padding: 0px 0px;
     left: 30%;
}

.hello-div h1{
    color: rgb(88, 23, 23);
    font-size: 400%;
    text-align: left;
    justify-self: center;
}

.pic-div{
     width: 100%;
    /* background: rgb(32, 45, 13); */
}

.pic-div img{
    aspect-ratio: 1/1;
    width: 80%;
    border-radius: 50%;
}

.desc-div{
     width: 100%;
    /* background: rgb(21, 26, 167); */
    position: static;
    margin-top: -24%;
}

.desc-div p{
    color: rgb(105, 16, 99);
    font-weight: 700;
    justify-self: right;
    text-align: left;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.desc-div p ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
    
.main{
    flex-direction: column;
    grid-template-columns: 1fr;
        /* margin: 50px auto;  */
        width: 90%; 
}

.hello-div{
    margin-top: 0px;
    left: 0;
}

.desc-div{
    align-content: center;
    margin-top: 0px;
  left: 0;
}
.desc-div p{
  justify-self: center;
}

}
