.body{
    background-color: rgb(167, 126, 50);
}

.main{
    background: rgb(219, 205, 205);
    border: 4px solid rgb(212, 196, 196);
    border-radius: 20px;
    padding: 25px 8px;
    width: 80%;
    margin: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    /* justify-content: center; */
    justify-self: center;
    align-items: center;
}

.hello-div{
    position: relative;
    width: 100%;
    margin-top: -250px;
    /* background: rgb(41, 58, 15); */
}

.hello-div h1{
    color: rgb(88, 23, 23);
    font-size: 76px;
    text-align: left;
    justify-self: right;
    margin: 8px;
    margin-left: 10px;
}

.pic-div{
     width: 100%;
    /* background: rgb(32, 45, 13); */
    /* z-index: 900; */
}

.pic-div img{
    height: 800px;
    width: 500px;
    border-radius: 50%;
}

.desc-div{
    margin-top: -700px;
     width: 100%;
    /* background: rgb(21, 26, 167); */
}

.desc-div p{
    color: rgb(105, 16, 99);
    font-weight: 700;
    justify-self: right;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.desc-div p ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
    
.main{
    flex-direction: column;
    grid-template-columns: 1fr;
        /* margin: 50px auto;  */
        width: 90%; 
}

.hello-div{
    margin-top: 0px;
}

.desc-div{
    align-content: center;
    margin-top: 0px;
    text-align: left;
}

.desc-div p ul{
    text-indent: 0px;
}
}